//Settings

@import 'settings'
@import 'base/vars'

//Fonts, icons
@import 'icons/icons'

//Libraries
@import 'libs/normalize.css'
@import 'libs/grid.css'
@import 'libs/slick.css'
@import 'libs/input-range.css'

//Basic
@import 'base/base'

//HTML Elements

//Blocks
@import 'blocks/main-header/main-header'
@import 'blocks/projects/projects'
@import 'blocks/main-footer/main-footer'

//Extra
