.icon
    
    &--search
        width 20px
        height 20px
        
    &--sport
        width 25px
        height 25px
    
    &--house-manage
        width 30px
        height 30px
        
    &--health
        width 30px
        height 30px
        
    &--road-manage
        width 30px
        height 30px
        
    &--ecology
        height 30px
        width 30px
        
    &--arrow-down
        width 15px
        height 15px
        
    &--list
        width 20px
        height 15px
        
    &--menu
        width 30px
        height 30px
        
    &--education
        width 30px
        height 30px
        
    &--media
        width 30px
        height 30px
        
    &--it
        width 30px
        height 30px
        
    &--social-support
        width 30px
        height 30px
        
    &--transport
        width 30px
        height 30px
        
    &--public-order
        width 25px
        height 30px
        
    &--velo
        width 30px
        height 30px
        
    &--energy
        width 30px
        height 30px
    
    &--culture
        width 30px
        height 30px
        
    &--map
        width 15px
        height 15px
        
    &--megaphone
        width 15px
        height 15px
        
    &--lightning
        width 15px
        height 15px
        
    &--info
        width 18px
        height 18px
        
    &--hourglass
        width 18px
        height 18px
        
    &--download
        width 14px
        height 17px
        
    &--arrow-left
        width 15px
        height 15px
        
    &--arrow-right
        width 15px
        height 15px
        
    &--ukraine
        width 16px
        height 12px
        
    &--russia
        width 16px
        height 12px
        
    &--united-states
        width 16px
        height 12px
        
    &--twitter
        width 20px
        height 16px
        
    &--vk
        width 23px
        height 17px
        
    &--google-plus
        width 22px
        height 17px
        
    &--facebook
        width 17px
        height 17px