$svg-symbols = {}

$svg-symbols.arrow-down = {};
$svg-symbols.arrow-down.width = 3rem
$svg-symbols.arrow-down.height = 3rem
$svg-symbols.arrow-down.ratio = 1
$svg-symbols.arrow-left = {};
$svg-symbols.arrow-left.width = 32rem
$svg-symbols.arrow-left.height = 32rem
$svg-symbols.arrow-left.ratio = 1
$svg-symbols.arrow-right = {};
$svg-symbols.arrow-right.width = 3rem
$svg-symbols.arrow-right.height = 3rem
$svg-symbols.arrow-right.ratio = 1
$svg-symbols.arrow-up = {};
$svg-symbols.arrow-up.width = 3rem
$svg-symbols.arrow-up.height = 3rem
$svg-symbols.arrow-up.ratio = 1
$svg-symbols.culture = {};
$svg-symbols.culture.width = 32rem
$svg-symbols.culture.height = 32rem
$svg-symbols.culture.ratio = 1
$svg-symbols.download = {};
$svg-symbols.download.width = 32.25rem
$svg-symbols.download.height = 32.25rem
$svg-symbols.download.ratio = 1
$svg-symbols.ecology = {};
$svg-symbols.ecology.width = 32rem
$svg-symbols.ecology.height = 32rem
$svg-symbols.ecology.ratio = 1
$svg-symbols.education = {};
$svg-symbols.education.width = 32rem
$svg-symbols.education.height = 32rem
$svg-symbols.education.ratio = 1
$svg-symbols.energy = {};
$svg-symbols.energy.width = 13.5rem
$svg-symbols.energy.height = 13.5rem
$svg-symbols.energy.ratio = 1
$svg-symbols.facebook = {};
$svg-symbols.facebook.width = 26.875rem
$svg-symbols.facebook.height = 26.875rem
$svg-symbols.facebook.ratio = 1
$svg-symbols.google-plus = {};
$svg-symbols.google-plus.width = 29.6875rem
$svg-symbols.google-plus.height = 29.6875rem
$svg-symbols.google-plus.ratio = 1
$svg-symbols.health = {};
$svg-symbols.health.width = 32rem
$svg-symbols.health.height = 32rem
$svg-symbols.health.ratio = 1
$svg-symbols.hourglass = {};
$svg-symbols.hourglass.width = 18.375rem
$svg-symbols.hourglass.height = 18.375rem
$svg-symbols.hourglass.ratio = 1
$svg-symbols.house-manage = {};
$svg-symbols.house-manage.width = 32rem
$svg-symbols.house-manage.height = 32rem
$svg-symbols.house-manage.ratio = 1
$svg-symbols.info = {};
$svg-symbols.info.width = 20.625rem
$svg-symbols.info.height = 20.625rem
$svg-symbols.info.ratio = 1
$svg-symbols.it = {};
$svg-symbols.it.width = 28.4375rem
$svg-symbols.it.height = 28.4375rem
$svg-symbols.it.ratio = 1
$svg-symbols.lightning = {};
$svg-symbols.lightning.width = 1.6875rem
$svg-symbols.lightning.height = 1.6875rem
$svg-symbols.lightning.ratio = 1
$svg-symbols.list = {};
$svg-symbols.list.width = 3.875rem
$svg-symbols.list.height = 3.875rem
$svg-symbols.list.ratio = 1
$svg-symbols.map = {};
$svg-symbols.map.width = 26.875rem
$svg-symbols.map.height = 26.875rem
$svg-symbols.map.ratio = 1
$svg-symbols.media = {};
$svg-symbols.media.width = 32rem
$svg-symbols.media.height = 32rem
$svg-symbols.media.ratio = 1
$svg-symbols.megaphone = {};
$svg-symbols.megaphone.width = 24.375rem
$svg-symbols.megaphone.height = 24.375rem
$svg-symbols.megaphone.ratio = 1
$svg-symbols.menu = {};
$svg-symbols.menu.width = 3.5rem
$svg-symbols.menu.height = 3.5rem
$svg-symbols.menu.ratio = 1
$svg-symbols.public-order = {};
$svg-symbols.public-order.width = 4rem
$svg-symbols.public-order.height = 4rem
$svg-symbols.public-order.ratio = 1
$svg-symbols.road-manage = {};
$svg-symbols.road-manage.width = 42.5rem
$svg-symbols.road-manage.height = 42.5rem
$svg-symbols.road-manage.ratio = 1
$svg-symbols.russia = {};
$svg-symbols.russia.width = 32rem
$svg-symbols.russia.height = 32rem
$svg-symbols.russia.ratio = 1
$svg-symbols.search = {};
$svg-symbols.search.width = 3.5rem
$svg-symbols.search.height = 3.5rem
$svg-symbols.search.ratio = 1
$svg-symbols.social-support = {};
$svg-symbols.social-support.width = 32rem
$svg-symbols.social-support.height = 32rem
$svg-symbols.social-support.ratio = 1
$svg-symbols.sport = {};
$svg-symbols.sport.width = 16.875rem
$svg-symbols.sport.height = 16.875rem
$svg-symbols.sport.ratio = 1
$svg-symbols.transport = {};
$svg-symbols.transport.width = 26rem
$svg-symbols.transport.height = 26rem
$svg-symbols.transport.ratio = 1
$svg-symbols.twitter = {};
$svg-symbols.twitter.width = 38.25rem
$svg-symbols.twitter.height = 38.25rem
$svg-symbols.twitter.ratio = 1
$svg-symbols.ukraine = {};
$svg-symbols.ukraine.width = 32rem
$svg-symbols.ukraine.height = 32rem
$svg-symbols.ukraine.ratio = 1
$svg-symbols.united-states = {};
$svg-symbols.united-states.width = 32rem
$svg-symbols.united-states.height = 32rem
$svg-symbols.united-states.ratio = 1
$svg-symbols.velo = {};
$svg-symbols.velo.width = 32rem
$svg-symbols.velo.height = 32rem
$svg-symbols.velo.ratio = 1
$svg-symbols.vk = {};
$svg-symbols.vk.width = 34.25rem
$svg-symbols.vk.height = 34.25rem
$svg-symbols.vk.ratio = 1